[user]
    email = lance@lrvick.net
    name = Lance R. Vick
    signingKey = 36C8AAA9
[push]
    default = simple
[color]
    ui = auto
[commit]
    gpgSign = true
[merge]
    gpgSign = true
[log]
    decorate = true
    abbrevCommit = true
[gpg]
	program = qubes-gpg-client-wrapper
