[user]
    email = lance@lrvick.net
    name = Lance R. Vick
    signingKey = 36C8AAA9
[push]
    default = simple
[color]
    ui = auto
[commit]
    gpgSign = true
[gpg]
    program = gpg2
[log]
    decorate = true
    abbrevCommit = true
[format]
    pretty = %Cred%h%Creset - %C(bold blue)%G? %aN%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)
