[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "Sources/powerline"]
	path = Sources/powerline
	url = https://github.com/Lokaltog/powerline
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:lrvick/dotvim.git
[submodule ".urxvt/modules/font-size"]
	path = .urxvt/modules/font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
