! General urxvt preferences
urxvt*loginShell:true
urxvt*transparent:true
urxvt*shading:60
urxvt*background:Black
urxvt*foreground:White
urxvt*scrollBar:false
urxvt*scrollBar_right:true
urxvt*transpscrollbar:true
urxvt*saveLines:32767
urxvt*urgentOnBell: True
urxvt*visualBell: False
urxvt*skipScroll: True
urxvt*font: xft:Terminus:autohint=true:antialias=true:size=7

! Make URLS Clickable
urxvt.perl-ext: default,matcher
urxvt.urlLauncher: chromium
urxvt.keysym.C-Delete: perl:matcher
urxvt.underlineURLs: true

Xft.antialias:           rgba
Xft.hinting:             true
Xft.hintstyle:           hintfull
