! General urxvt preferences
urxvt*loginShell:true
urxvt*transparent:true
urxvt*shading:60
urxvt*background:Black
urxvt*foreground:White
urxvt*scrollBar:false
urxvt*scrollBar_right:true
urxvt*transpscrollbar:true
urxvt*saveLines:32767
urxvt*urgentOnBell: True
urxvt*visualBell: False
urxvt*skipScroll: True

! Make URLS Clickable
URxvt.perl-ext-common:      default,matcher,clipboard,url-select,keyboard-select,font-size
URxvt.matcher.button: 1
URxvt.url-select.launcher:  qutebrowser
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

urxvt*font: xft:Hack:pixelsize=21:antialias=true
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal

*background: #002b36
*foreground: #657b83
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1
 
!! black dark/light
*color0: #073642
*color8: #002b36
 
!! red dark/light
*color1: #dc322f
*color9: #cb4b16
 
!! green dark/light
*color2: #859900
*color10: #586e75
 
!! yellow dark/light
*color3: #b58900
*color11: #657b83
 
!! blue dark/light
*color4: #268bd2
*color12: #839496
 
!! magenta dark/light
*color5: #d33682
*color13: #6c71c4
 
!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1
 
!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

!! HiDPI
Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!Xft.antialias:           rgba
!Xft.hinting:             true

